.container {
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 75%;
}

.container h1,
.container h2 {
    text-align: center;
    color: #222;
}

.container hr {
    margin: 0 auto;
    width: 75%;
    border: 1px solid #ccc;
}

.container hr.footer {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #ccc;
    width: 100%;
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: #333;
    text-align: center;
}