.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 10px;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.card .card-image img {
    width: 100%;
    height: auto;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgb(62, 135, 195);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

span.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: #f04e4e;
    color: #fff;
    margin-right: 5px;
}

span.badge-reset {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: #f0d84e;
    color: #fff;
}

span.badge-reset:hover {
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}